       *{
			margin:0px;
			padding:0px;
			border-sizing:border-box;
		}
		body{
			
			background-image: linear-gradient(to bottom right, orange,white,green);
			height: 100vh;
			background-repeat: no-repeat;

		}
		.line1,.line2,.line3{
			position: relative;
			margin-bottom: 5px;
			margin-left:8px;
			width: 35px;
			height:5px;
			background-image: linear-gradient(to right,orange,white,green);
			border-radius: 5px;
			transition: all 0.2s linear;
		}
		.menu{
			cursor: pointer;
		}

		.change .line1 {
         transform: rotate(-45deg) translate(-8px, 6px);
         }

        .change .line2 {opacity: 0;}

        .change .line3 {
         transform: rotate(45deg) translate(-7px, -7px);
         }
		
		nav{
			position: fixed;
			display: flex;
			height: 55px;
			width: 100%;
			flex-direction: row;
			background-color: grey;
			justify-content: space-between;
			align-items:center;

		}

		.listClass{

			display: flex;
			flex-direction: row;
			list-style-type: none;

		}

		.listClass li{
			margin-right: 15px;
			font-size: 18px;

		}

		.listClass li a{
			text-decoration:none;
			color:black;
		}

		.listClass li a:hover{
			background-color: orange;
			border-radius: 2px;
			color:White;
		}
		.asidebar{
			position: absolute;
			top:55px;
			width: 45px;
			min-height: 100vh;
			background-color:rgba(248, 110, 241, 0.658);
			opacity: 0.5;
			transition: all 0.2s linear;
            
		}

		.asidebar ul{
			position: relative;
			list-style-type: none;
			overflow: hidden;
			opacity: 0;
			transition: all 0.2s linear;
		}

		.asidebar ul li{
			height: 30px;
			width: 200px;
			margin:10px;
			border-bottom:3px solid white;
			border-right: 3px solid white;
			border-radius: 0 15px 15px 0; 
			text-align: center;
			color:blue;
			font-family: sans-serif;
		}

		.asidebar ul li:hover{
			background-color: red;
		}
		.asidebar ul li a{
			text-decoration: none;
		}
		.asidebar ul li a:hover{
			background-color:red;
			font-size: 25px;
			color:white;
		}

		.variation.asidebar{
			width: 225px;
			min-height: 100vh;
			background-color:rgb(255, 165, 0);
			opacity: 0.6;

		}

		.variation.asidebar ul{
			opacity: 1;
		}

		.chakra{
			position: absolute;
			top:50%;
			left:50%;
			transform:translate(-50%,-50%);
		}

		img{
			height: 150px;
			width: 150px;
			transition: transform 10s linear;
		}
		img:hover{
			transform:rotate(360deg);
		}
		 .country{
		 	position: absolute;
		 	top:25%;
		 	left:50%;
		 	transform: translate(-50%,-50%);
		 	font-size:60px;
		 	background-image: linear-gradient(orange,green);
		 	border-radius: 5px;
		 	animation: rightleft 10s infinite ease-in-out alternate;
		 }

		 @keyframes rightleft{
		 	0%{
		 		left:20%;
		 	}
		 	
		 	100%{
		 		left:80%;
		 	}
		 }

		 .logo{
		 	position: relative;
		 	left:50%;
		 	font-family: sans-serif;
		 	font-style:italic;
		 	font-size:40px;
		 	color:violet;

		 }
		
		